* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
    overflow: hidden; 
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

nav ul li {
    flex: 1;
}

nav ul li a {
    text-decoration: none;
    color: black;
    border: 2px solid #999;
    border-radius: 10px;
    padding: 10px 15px;
    display: block;
    text-align: center;
}

.user-icons {
    display: flex;
    gap: 10px;
}

.profile-icon img,
.cart-icon img {
    height: 30px;
}

main {
    
    overflow-y: auto; 
    height: calc(100vh - 100px); 
    
}

#order-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 800px;
    margin: 0 auto;
}

.order-item {
    border: 1px solid #e7fc01;
    padding: 15px;
    border-radius: 8px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-item .details-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-item p {
    margin: 0;
    font-size: 20px;
}

.order-item .snack-details {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}

.order-item .snack-info {
    display: flex;
    flex-direction: column;
}

.order-item .snack-details img {
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.order-item .snack-details p {
    margin: 0;
}

.order-item .snack-details p + p {
    margin-top: 5px;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}
